url: 'https://longhornriichi.pages.dev/'
baseurl: '/'
permalink: pretty
title: 'Longhorn Riichi'

logo: "images/logo/logo.svg"
logo_height: "32px"
logo_mobile: "images/logo/logo.svg"
logo_mobile_height: "32px"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-target-blank

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
