<div class="strip strip-white-offset">
  <h1 class="officers-strip-title pt-1">
    Current Officers
  </h1>
  <div class="container">
    <div class="row">
      {% for officer in site.data.officers %}
      <div class="col-6 col-md-4 pb-2">
        <div class="officer-summary">
          
          <div class="officer-image">
            {% if officer.image %}
            <img alt="{{ officer.name }}" class="img-fluid mb-2" src="{{ officer.image }}" />
            {% else %}
            <img alt="{{ officer.name }}" class="img-fluid mb-2" src="{{ page.placeholder_image }}" />
            {% endif %}
          </div>

          <div class="officer-meta">
            <h2 class="officer-name">{{ officer.name }}</h2>
            <p class="officer-title">{{ officer.title }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>