<div class="support-us strip {{ page.support-us-strip-style }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 support-us-image-container">
        <img alt="{{ site.data.support-us.title }}" class="support-us-image" src="{{ site.data.support-us.image }}" />
      </div>
      <div class="col-12 col-md-6 support-us-container">
        <h2 class="mb-0">{{ site.data.support-us.title }}</h2>
        <p class="mb-1">{{ site.data.support-us.text }}</p>
        <a href="{{ site.data.support-us.form }}" class="button">{{ site.data.support-us.button_text }}</a>
      </div>
    </div>
  </div>
</div>