---
---

// Colors
$white: #ffffff; // put `white` first so we don't care if VSCode doesn't display the color picker due to the front matter
$primary: #0b770b;
$secondary: #ffff33;
$black: #2f2f41;
$white-offset: #efffef; // used for background against white
$steel: #5a5a5c; // used for small text

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 5%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: "Edo SZ", serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/about";
@import "components/strip";
@import "components/feature";
@import "components/socials";
@import "components/fonts";
@import "components/officer";
@import "components/support-us";
@import "components/accomplishments";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}
