.feature {
  height: 100%;
  border: 1px solid $white-offset;
  border-radius: 3px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    height: 80px;
  }
  .feature-title {
  }
  .feature-content {
  }
}
