.intro {
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .intro-container {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  h1 {
    color: $black;
    font-size: 42px;
    font-weight: normal;
    line-height: 1;
    @include media-breakpoint-up(md) {
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $steel;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    @include media-breakpoint-up(md) {
      width: 90%;
    }
  }
}
