.intro {
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .intro-container {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  h1 {
    color: $black;
    font-size: 42px;
    font-weight: normal;
    line-height: 1;
    @include media-breakpoint-up(md) {
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  p {
    font-size: 20px;
    font-weight: light;
    line-height: 1.5;
    color: $steel;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      width: 90%;
    }
  }

  .intro-image-container {
    // margin before the title in mobile vertical view
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      // center the image horizontally
      display: flex;
      justify-content: center;
      // fix a height, hide the horizontal overflow, and cancel the bottom margin
      height: 450px;
      overflow: hidden;
      margin-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
      height: 475px;
    }
    @include media-breakpoint-up(xl) {
      height: 500px;
    }
    .intro-image {
      width: 100%;
      height: auto;
      @include media-breakpoint-up(md) {
        height: 100%;
        width: auto;
      }
    }
    .intro-image-hide-mobile {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }  
}
