.intro-image-container {
  // margin before the title in mobile vertical view
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    // center the image horizontally
    display: flex;
    justify-content: center;
    // fix a height, hide the horizontal overflow, and cancel the bottom margin
    height: 500px;
    overflow: hidden;
    margin-bottom: 0;
  }
  @include media-breakpoint-up(lg) {
    height: 525px;
  }
  @include media-breakpoint-up(xl) {
    height: 550px;
  }
  .intro-image {
    width: 100%;
    height: auto;
    @include media-breakpoint-up(md) {
      height: 100%;
      width: auto;
    }
  }
  .intro-image-hide-mobile {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}


