.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  img {
    max-width: unset;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logo-mobile {
  display: block;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    height: 100%;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}