<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {{ site.title | escape }} | {{ site.subtitle }}{% else %}{{ site.title | escape }} | {{ site.subtitle }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/images/favicon_inverted_32x32.svg">
  <link href="/assets/css/style.css" rel="stylesheet">
  {% feed_meta %}
  {% seo %}
</head>

<body class='page'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
  {% include google-analytics.html %}
</body>
</html>
