---
layout: default
---

<div class="intro">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 order-2 order-md-1 intro-container">
        {{ content }}
        <a href="{{ site.data.contact.discord }}" target="_blank" rel="noopener noreferrer" class="button">Join Our Discord</a>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-7 order-1 order-md-2 intro-image-container">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
