---
layout: default
---

<div class="intro">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 order-2 order-md-1 intro-container">
        {{ content }}
        <a href="{{ site.data.contact.discord }}" class="button">Join Our Discord</a>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-7 order-1 order-md-2 intro-image-container">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include features.html %}

{% include support-us.html %}
